<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>MountService For Deepin Media Player</vendor>
  <vendor_url>http://www.linuxdeepin.com/</vendor_url>

  <action id="com.deepin.passwdservice.modify-password">
    <description>Modify Password</description>
    <message>Authentication is required to modify password</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <!-- <action id="com.deepin.passwdservice.modify-own-password"> -->
  <!--   <description>Modify Password</description> -->
  <!--   <message>Authentication is required to modify password</message> -->
  <!--   <defaults> -->
  <!--     <allow_any>no</allow_any> -->
  <!--     <allow_inactive>auth_self </allow_inactive> -->
  <!--     <allow_active>auth_self</allow_active> -->
  <!--   </defaults> -->
  <!-- </action> -->

</policyconfig>
